@model AppTourist.Models.visiteur

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h4>Voulez vous vraiment supprimer cet élément?</h4>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom du site :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            Adresse du site :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
